<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017483631553-2gtqb7stcku0ejj2gpbmgkaj24ld2att.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017483631553-2gtqb7stcku0ejj2gpbmgkaj24ld2att</string>
	<key>API_KEY</key>
	<string>AIzaSyDHly2qT3lBWHs6imSg1nO0LzHyU6dCHWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1017483631553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamatechno.eovizpresence.ios</string>
	<key>PROJECT_ID</key>
	<string>eoviz-presence</string>
	<key>STORAGE_BUCKET</key>
	<string>eoviz-presence.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017483631553:ios:5ef6f365cfeecc45dd2d40</string>
	<key>DATABASE_URL</key>
	<string>https://eoviz-presence.firebaseio.com</string>
</dict>
</plist>